mixin toggle(classes, text, checked)
    label.toggle(class=classes)
        input.toggle__input(type='checkbox', name='special offers', checked=checked)
        span.toggle__input_fake
        +text('span', text, ['text_b', 'text_lh20', 'text_1F2041-075', 'block', 'block_ml10px'])
    