include ../room-info/room-info.pug
include ../booking-wrapper/booking-wrapper.pug
include ../booking-wrapper-top/booking-wrapper-top.pug
include ../text/text.pug
include ../input-wrapper/input-wrapper.pug
include ../field/field.pug
include ../check-mark/check-mark.pug
include ../input/input.pug
include ../button/button.pug


mixin booking(classes, fee, roomDetails, roomDetailsLux, bookingWrapperIndent, right38081)
    .booking(class=classes)
        +booking-wrapper(['block', 'block_mb23px'])
            +booking__room-name(['text', 'text_bold'])
                +text('span', '№', ['text_fs14', 'text_lh17'])
                +text('span', '888', ['booking__room-number-pp', 'text_fs24', 'text_lh29'])
                +text('span', 'люкс', ['text_ttu', 'text_BC9CFF', roomDetailsLux])                    
            +booking__room-price()
                +text('span', '9 990₽ ', ['text', 'text_fs14', 'text_lh18', 'text_1F2041-05', 'text_bold'])
                +text('span', 'в сутки', ['text', 'text_lh14', 'text_1F2041-05'])               
        +input-wrapper(['block', 'block_mb20px'])
            +field('label','field_small')
                +text('span', 'прибытие', ['text_bold','text_ttu','block','block_mb5px'])
                +check-mark
                    +input(type='date', name='arrival', value='2019-08-19', class=['input_hidden', 'text', 'text_b', 'text_ttu', 'text_1F2041-075'])
            +field('label','field_small')
                +text('span', 'выезд', ['text_bold','text_ttu','block','block_mb5px'])
                +check-mark
                    +input(type='date', name='departure', value='2019-08-23', class=['input_hidden', 'text', 'text_b', 'text_ttu', 'text_1F2041-075'])
        +field('div', ['block', 'block_mb20px'])
            +text('span', 'гости', ['text_bold','text_ttu','block','block_mb5px'])
            +check-mark
                +input(type='text', name='amount of guests', value='3 гостя', class=['text', 'text_b', 'text_1F2041-075'])
        if roomDetails
            +booking-wrapper(['block', 'block_mb13px', 'room-details__9990x4-pp'])
                +text('p', '9 990₽ х 4 суток', ['text_b', 'text_lh22', 'text_1F2041-075'])
                +text('p', '39 960₽', ['text_b', 'text_lh22', 'text_1F2041-075'])
        else
            +booking-wrapper(['block', 'block_mb13px'])
                +text('p', '9 990₽ х 4 суток', ['text_b', 'text_lh22', 'text_1F2041-075'])
                +text('p', '39 960₽', ['text_b', 'text_lh22', 'text_1F2041-075'])                
        +booking-wrapper-top(['check', 'block', 'block_mb15px'])
            if roomDetails
                +booking__wr
                    +text('p', 'Сбор за услуги: скидка 2&nbsp;179₽', ['text_b', 'text_lh18', 'text_1F2041-075'])                       
                    +booking__logo-details('booking__logo-details_m')
                +text('p', '0₽', ['text_b', 'text_lh18', 'text_1F2041-075'])
            else
                +booking__wr
                    +text('p', 'Сбор за услуги: скидка 2&nbsp;179₽', ['text_b', 'text_lh18', 'text_1F2041-075'])                       
                    +booking__logo
                +text('p', '0₽', ['text_b', 'text_lh18', 'text_1F2041-075'])
        +booking-wrapper-top(['check', 'block', bookingWrapperIndent]) 
            if roomDetails
                +booking__wr
                    +text('p', fee, ['text_b', 'text_lh18', 'text_1F2041-075'])                       
                    +booking__logo-details
                +text('p', '300₽', ['text_b', 'text_lh18', 'text_1F2041-075'])
            else
                +booking__wr
                    +text('p', fee, ['text_b', 'text_lh18', 'text_1F2041-075', 'booking__min-w'])
                    +booking__logo
                +text('p', '300₽', ['text_b', 'text_lh18', 'text_1F2041-075'])                  
        +booking-wrapper(['block', 'block_mb20px', right38081, 'booking-wrapper_dots'])
            +text('p', 'Итого', ['text_m', 'booking-wrapper__total'])
            +text('p', '38 081₽', ['text_m', 'booking-wrapper__price'])
        +button(['button', 'button_long'])
            +text('span', 'забронировать', ['text_bold', 'text_ttu', 'text_FFF'])