mixin room(classes)
    .room(class=classes)
        block

mixin room__img-wr
    .room__img-wr
        block

mixin room__rounds-wrapper
    .room__rounds-wrapper
        block

mixin room__like-wrapper
    .room__like-wrapper
        block

mixin room__star-wrapper
    .room__star-wrapper
        block