.enter {
    width: 38rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 3rem 3rem 3rem;
}
.enter {
    height: 35.8rem;
}
.enter__text-p_pp {
    margin-left: -1px;
    margin-top: -2px;
}
.enter__input-pp {
    margin-top: -6px;
}