.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.8rem;
    padding: 1.6rem 0 0.8rem 0;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.room-info__number-pp {
    margin-right: 4px;
    margin-bottom: 4px;
}
.room-info__price-pp-cards {
    padding-top: 4px;
    margin-right: -3px;
}
.room-info__price-pp {
    padding-top: 4px;
    margin-right: -2px;
}
.room-info__small-text-pp {
    margin-left:3px;
}
.room-info__text-flex {
    display: flex;
    align-items: flex-end;
}

@media (min-width: 861px) and (max-width: 1439px) {
    .room-info {
        flex-wrap: wrap;
    }
    .room-info__price-pp {
        width: 100%;
        text-align: center;
    }
    .room-info__text-flex {
        justify-content: center;
        width: 100%;
    }
}

@media (min-width:576px) and (max-width: 729px) {
    .room-info {
        justify-content: center;
        flex-wrap: wrap;
    }
    .room-info__price-pp {
        width: 100%;
        text-align: center;
    }
}