.footer-wrapper-768 {
    max-width: 76.8rem;
    height: 36.7rem;
    display: none;
    background: #FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer-wrapper-768_flex {
    display: flex;
}



@media (max-width:767px) {
    .footer-wrapper-768 {
        display: flex;
        /* max-width: 76.8rem;
        max-height: 36.7rem;
        width: 50rem;
        height: 36.7rem; */
    }
}