include ../logo-toxin/logo-toxin.pug
include ../text/text.pug
include ../footer-media/footer-media.pug

mixin footer-wrapper-768
    .footer-wrapper-768
        +logo-toxin(['block', 'block_mb20px'])
            img(src='img/Logo.png' alt='logo-toxin')
        +text('p', 'Copyright © 2018 Toxin отель. Все права зачищены.', ['text_c', 'text_1F2041-075', 'block', 'block_mb25px'])
        +footer-media
            +href(href='#', class='footer-media__twi')
                img(src='img/twitter.png' alt='twitter')
            +href(href='#', class=['block', 'block_ml20px'])
                img(src='img/facebook.png' alt='face')
            +href(href='#', class=['block', 'block_ml20px'])
                img(src='img/insta.png' alt='insta')