.check-mark {
    position: relative;
    display: block;
    width: 100%;
}
.check-mark::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 1.75rem;
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}

@media (max-width:360px) {
    .check-mark::after {
        right: 1.7rem;
    }
}