.pagination {
    display: flex;
}
.pagination__href-arrow_d-none {
    display: none;
}
.pagination__href {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #FFFFFF;
}
.pagination__href_arrow {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
/* если display_n поднять выше не работает */
.pagination__href_d-none {
    display: none;
}
.pagination-pp {
    padding-left: 0.6rem
}
.pagination__href_active {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
}
.pagination-text-center {
    display: flex;
    justify-content: center;
}