.block_mt-3px {
    margin-top: -0.3rem;
}
.block_mt-2px {
    margin-top: -0.2rem;
}
.block_mt5px {
    margin-top: 0.5rem;
}
.block_mt2px {
    margin-top: 0.2rem;
}
.block_mt4px {
    margin-top: 0.4rem;
}
.block_mt7px {
    margin-top: 0.7rem;
}
.block_mt-1px {
    margin-top: -0.1rem;
}
.block_mt1px {
    margin-top: 0.1rem;
}

.block_mb20px {
    margin-bottom: 2rem;
}
.block_mb22px {
    margin-bottom: 2.2rem;
}
.block_mb40px {
    margin-bottom: 4rem;
}
.block_mb41px {
    margin-bottom: 4.1rem;
}
.block_mb5px {
    margin-bottom: 0.5rem;
}
.block_mb16px {
    margin-bottom: 1.6rem;
}
.block_mb10px {
    margin-bottom: 1rem;
}
.block_mb11px {
    margin-bottom: 1.1rem;
}
.block_mb14px {
    margin-bottom: 1.4rem;
}
.block_mb13px {
    margin-bottom: 1.3rem;
}
.block_mb30px {
    margin-bottom: 3rem;
}
.block_mb31px {
    margin-bottom: 3.1rem;
}
.block_mb7px {
    margin-bottom: 0.7rem;
}
.block_mb19px {
    margin-bottom: 1.9rem;
}
.block_mb17px {
    margin-bottom: 1.7rem;
}
.block_mb8px {
    margin-bottom: 0.8rem;
}
.block_mb15px {
    margin-bottom: 1.5rem;
}
.block_mb23px {
    margin-bottom: 2.3rem;
}
.block_mb24px {
    margin-bottom: 2.4rem;
}
.block_mb12px {
    margin-bottom: 1.2rem;
}
.block_mb26px {
    margin-bottom: 2.6rem;
}
.block_mb39px {
    margin-bottom: 3.9rem;
}
.block_mb44px {
    margin-bottom: 4.4rem;
}
.block_mb21px {
    margin-bottom: 2.1rem;
}
.block_mb1px {
    margin-bottom: 0.1rem;
}
.block_mb25px {
    margin-bottom: 2.5rem;
}
.block_mb18px {
    margin-bottom: 1.8rem;
}
.block_mb6px {
    margin-bottom: 0.6rem;
}

.block_ml223px {
    margin-left: 22.3rem;
}
.block_ml10px {
    margin-left: 1rem;
}
.block_ml20px {
    margin-left: 2rem;
}
.block_ml19px {
    margin-left: 1.9rem;
}
.block_ml30px {
    margin-left: 3rem;
}
.block_ml180px {
    margin-left: 18rem;
}
.block_ml72px {
    margin-left: 7.2rem;
}
.block_ml180px {
    margin-left: 18rem;
}
.block_ml126px {
    margin-left: 12.6rem;
}
.block_ml40px {
    margin-left: 4rem;
}
.block_ml4px {
    margin-left: 0.4rem;
}
.block_ml16px {
    margin-left: 1.6rem;
}
.block_ml216px {
    margin-left: 21.6rem;
}
.block_ml-3px {
    margin-left: -0.3rem;
}
.block_ml22px {
    margin-left: 2.2rem;
}
.block_ml9px {
    margin-left: 0.9rem;
}
.block_ml12px {
    margin-left: 1.2rem;
}
.block_ml11px {
    margin-left: 1.1rem;
}
.block_ml14px {
    margin-left: 1.4rem;
}
.block_ml60px {
    margin-left: 6rem;
}

.block_mr20px {
    margin-right: 2rem;
}
.block_mr9px {
    margin-right: 0.9rem;
}
.block_mr-9px {
    margin-right: -0.9rem;
}
.block_mr1px {
    margin-right: 0.1rem;
}
.block_mr4px {
    margin-right: 0.4rem;
}