mixin header-guest(classes)
    .header-guest(class=classes)
        
            block

mixin header-guest__logo-wr()
    .header-guest__logo-wr
        block 

mixin header-guest__l-wr
    .header-guest__l-wr
        block

mixin header-guest__border
    .header-guest__border