mixin booking-wrapper(classes)
    .booking-wrapper(class=classes)
        block

mixin booking__room-name(classes)
    p.booking__room-name(class=classes)
        block

mixin booking__room-price(classes)
    p.booking__room-price(class=classes)
        block

mixin booking__wr
    .booking__wr
        block

mixin booking__logo
    .booking__logo
        p.booking__text i