mixin checkbox-button__input(types='checkbox', names='')
    input.checkbox-button__input(type=types, name=names)

mixin checkbox-button__inputC(types='checkbox', names='')
    input.checkbox-button__input(type=types, name=names, checked)