mixin checkbox-button(name, text, array, classes, checked)
  label.checkbox-button(class=classes)
    input.checkbox-button__input(type='checkbox', name=name, checked=checked)
    span.checkbox-button__fake-input
    +text('span', text, array)