.checkbox-button {
    display: flex;
}
.checkbox-button__input {
    display: none;
}
.checkbox-button__fake-input {
    position: relative;
    min-width: 2rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
}
.checkbox-button__fake-input::before, 
.checkbox-button__fake-input::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.3rem;
    height: 0.8rem;
    width: 0.6rem;
    transform: rotate(45deg);
}
.checkbox-button__fake-input::before {
    display: none;
    margin-top: -0.5rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.checkbox-button__fake-input::after {
    margin-top: -0.8rem;
    background: #FFFFFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input {
    border: 1px solid #BC9CFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input::before {
    display: block;
}