mixin input
    input.input.text.text_b.text_1F2041-075&attributes(attributes)

mixin input-bold
    input.input.input_square-angles.input_border-color.text.text_b.text_1F2041-075&attributes(attributes)
