include ../text/text.pug
include ../footer-media/footer-media.pug

mixin footer-copyright
    .footer-copyright.container
        +text('p', 'Copyright © 2018 Toxin отель. Все права зачищены.', ['text_c', 'text_1F2041-075'])
        +footer-media
            +href(href='#')
                img.footer-media__twi(src='img/twitter.png' alt='twitter')
            +href(href='#', class=['block', 'block_ml20px'])
                img.footer-media__fa(src='img/facebook.png' alt='face')
            +href(href='#', class=['block', 'block_ml22px'])
                img.footer-media__insta(src='img/insta.png' alt='insta')