.calendar {
    width: 32rem;
    background-color: #FFFFFF;
    padding: 1.9rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
}
.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar__header_text {
    margin-top: 1px;
}
.calendar__arrow-left {
    margin-left: 4px;
    margin-top: 3px;
}
.calendar__arrow_r {
    margin-right: 4px;
    margin-top: 3px;
} 
.calendar__table {
    border-collapse: collapse;
}
.calendar__td {
    text-align: center;
    vertical-align: center;
    height: 40px;
    width: 40px;
}
.calendar_green {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.calendar_purple {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}