include ../text/text.pug
include ../input/input.pug
include ../input-wrapper/input-wrapper.pug
include ../radio-button-wrapper/radio-button-wrapper.pug
include ../radio-button/radio-button.pug
include ../field/field.pug
include ../toggle/toggle.pug
include ../button/button.pug
include ../href-button/href-button.pug

mixin account-reg(classes)
    .account-reg(class=classes)
        +text('p', 'Регистрация аккаунта', ['text_l', 'account-reg__pp', 'block', 'block_mb22px'])
        +input(type='text' name='first name' placeholder='Имя', class=['text', 'text_b', 'text_1F2041-075', 'block', 'block_mb10px'])
        +input(type='text' name='last name' placeholder='Фамилия', class=['text', 'text_b', 'text_1F2041-075', 'block', 'block_mb10px'])        
        +radio-button-wrapper(['block', 'block_mb23px'])
            +radio-button('gender', 'Мужчина', true)
            +radio-button('gender', 'Женщина')
        +field('label')
            +text('span', 'дата рождения', ['text_bold','text_ttu','block','block_mb5px'])
            +input(type='date' name='masked text field', class=['input_hidden', 'text', 'text_b', 'text_ttu', 'text_1F2041-075', 'block', 'block_mb20px'])
        +text('span', 'данные для входа в сервис', ['text_bold','text_ttu','block','block_mb5px'])
        +input(type='email' name='email' placeholder='Email', class=['text', 'text_b', 'text_1F2041-075', 'block', 'block_mb10px'])
        +input(type='password' name='password' placeholder='Пароль', class=['text', 'text_b', 'text_1F2041-075', 'block', 'block_mb10px'])
        +toggle(['block', 'block_mb24px'], 'Получать спецпредложения')
        +button(['button', 'button_long', 'block', 'block_mb30px'])
            +text('span', 'перейти к оплате', ['text_bold', 'text_ttu', 'text_FFF'])
        +href-button
            a(href='#')
                +text('p', 'Уже есть аккаунт на Toxin', ['text_b', 'text_000'])
            +button(['button', 'button_bordered'])
                +text('span', 'войти', ['text_bold', 'text_ttu', 'text_BC9CFF'])