mixin advantages(classes)
    .advantages(class=classes)
        block

mixin advantages__img(classes)
    .advantages__img(class=classes)
        block

mixin advantades__text(classes)
    .advantades__text(class=classes)
        block