mixin advantages(classes)
    .advantages(class=classes)
        block

mixin advantages__img(classes)
    .advantages__img(class=classes)
        block

mixin advantages__text(classes)
    .advantages__text(class=classes)
        block