.advantages {
    display: flex;
    border-bottom: 0.1rem solid rgba(31, 32, 65, 0.1);
    padding-bottom: 2rem;
}
.advantages:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.advantages__img {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages__img_PP {
    margin-top: -2px;
}
.advantages_padding-down {
    padding-top: 2rem;
}
