mixin advantages(classes)
    .advantages(class=classes)
        block

mixin advantages__img
    .advantages__img
        block

mixin advantades__text(classes)
    .advantades__text(class=classes)
        block