.footer {
    min-height: 37.2rem;
    background: #FFF;
    padding: 10rem 0;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    display: flex;
    justify-content: space-between;
}
.footer__column1 {
    min-width: 26rem;
    width: 26rem;
}
.footer__img {
    display: block;
}
.footer__column2 {
    min-width: 14.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.footer__column3 {
    min-width: 10.8rem;
    margin-left: 5.7rem;
    display: flex;
    flex-direction: column;
}
.footer__column4 {
    min-width: 14.9rem;
    margin-left: 9.2rem;
    display: flex;
    flex-direction: column;
}
.footer__column5 {
    min-width: 26rem;
    width: 26rem;
    margin-left: 5.1rem;
    display: flex;
    flex-direction: column;
}

@media (max-width:1439px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__column1 {
        min-width: 23rem;
    }
    .footer__column2 {
        min-width: 20rem;
    }
    .footer__column2, .footer__column3, .footer__column4, .footer__column5 {
        margin-left: 0;
    }
    .footer__flex-break {
        min-width: 100%;
    }
    .footer__column4, .footer__column5 {
        margin-top: 4rem;
    }
}

@media (max-width: 767px) {
    .footer {
        display: none;
    }
}