mixin footer(classes)
    .footer(class=classes)
        .footer_sm
            block 

mixin footer__column1
    .footer__column1
        a.footer__img.logo-toxin.block.block_mb20px(href='/')
          img(src='img/Logo.png' alt='logo-toxin')
