.footer {
    width: 144rem;
    height: 37.2rem;
    background: #FFF;
    padding: 10rem 14rem;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer__sm {
    display: flex;
}
.footer__column1 {
    width: 26rem;
}
.footer__img {
    display: block;
}
.footer__column2 {
    min-width: 14.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.footer__column3 {
    min-width: 10.8rem;
    margin-left: 5.7rem;
    display: flex;
    flex-direction: column;
}
.footer__column4 {
    min-width: 14.9rem;
    margin-left: 9.2rem;
    display: flex;
    flex-direction: column;
}
.footer__column5 {
    width: 26rem;
    margin-left: 5.1rem;
    display: flex;
    flex-direction: column;
}