include ./common.blocks/room-search/room-search.pug
include ./common.blocks/text/text.pug
include ./common.blocks/input-wrapper/input-wrapper.pug
include ./common.blocks/field/field.pug
include ./common.blocks/field-name/field-name.pug
include ./common.blocks/check-mark/check-mark.pug
include ./common.blocks/input/input.pug
include ./common.blocks/button/button.pug
include ./common.blocks/account-reg/account-reg.pug
include ./common.blocks/radio-button-wrapper/radio-button-wrapper.pug
include ./common.blocks/radio-button/radio-button.pug
include ./common.blocks/toggle/toggle.pug
include ./common.blocks/href-button/href-button.pug
include ./common.blocks/booking/booking.pug
include ./common.blocks/booking-wrapper/booking-wrapper.pug
include ./common.blocks/enter/enter.pug
include ./common.blocks/calendar/calendar.pug
include ./common.blocks/room/room.pug
include ./common.blocks/button-star/button-star.pug


doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
    // <link rel="stylesheet" href="styles.css">
    title Document
  body
    .cards
        .cards__column1
            // форма для поиска номеров
            +room-search(['block', 'block_mb40px', 'block_mt2px'])
            // регистрация аккаунта
            +account-reg('block_mt4px')
        .cards__column1.block.block_ml40px
            // бронирование номера
            +booking(['block', 'block_mb39px', 'block_mt4px'])
            // вход в аккаунт
            +enter
        .cards__column3.block.block_ml40px
            // календарь
            +calendar(['calendar__pp', 'block', 'block_mb40px'])
            // вид отдельного номера
            +room(['block', 'block_mb40px'])
                // у картинки не скруглились углы
                // фотография номера
                +room__img-wr
                    img.room__img(src='img/image.jpg' alt='room1')
                    +button(['room__button', 'room__button_left'])
                    +button(['room__button', 'room__button_right'])                   
                    +room__rounds-wrapper
                        +button(['room__image-scroll', 'room__image-scroll_active'])
                        +button(['room__image-scroll', 'block', 'block_ml4px'])
                        +button(['room__image-scroll', 'block', 'block_ml4px'])
                        +button(['room__image-scroll', 'block', 'block_ml4px'])
                +booking-wrapper(['room_md', 'block', 'block_mb20px'])
                    p
                        +text('span', '№', ['text_bold', 'text_fs14', 'text_lh17'])
                        +text('span', '888', ['text_bold', 'text_fs20', 'text_lh29'])
                        +text('span', 'люкс', ['text_bold', 'text_ttu', 'text_fs14', 'text_BC9CFF', 'block_ml-3px'])
                    p
                        +text('span', '9 990₽', ['booking-text-r-pp', 'text_bold', 'text_fs14', 'text_lh18', 'text_1F2041-05'])
                        +text('span', 'в сутки', ['booking-text-r-pp', 'text_lh18', 'text_1F2041-05'])
                +room__like-wrapper
                    +room__star-wrapper
                        - let nRate = 5;
                        - for(let i=1; i<=nRate; i++){
                            +button-star
                                img(src='img/star.png' alt='star')
                        - }
                    p
                        +text('span', '145', ['text_lh18', 'text_1F2041-05', 'text_fs14', 'text_bold', 'block', 'block_mr9px'])
                        +text('span', 'Отзывов', ['text_lh18', 'text_1F2041-05', 'block', 'block_mr9px'])
            // вид отдельного номера
            +room
                // у картинки не скруглились углы
                // фотография номера
                +room__img-wr
                    img.room__img(src='img/image2.jpg' alt='room2')
                    +button(['room__button', 'room__button_left'])
                    +button(['room__button', 'room__button_right'])                   
                    +room__rounds-wrapper
                        +button(['room__image-scroll', 'room__image-scroll_active'])
                        +button(['room__image-scroll', 'block', 'block_ml4px'])
                        +button(['room__image-scroll', 'block', 'block_ml4px'])
                        +button(['room__image-scroll', 'block', 'block_ml4px'])
                +booking-wrapper(['room_md', 'block', 'block_mb20px'])
                    p
                        +text('span', '№', ['text_bold', 'text_fs14', 'text_lh17'])
                        +text('span', '840', ['text_bold', 'text_fs20', 'text_lh29'])
                        +text('span', 'люкс', ['text_bold', 'text_ttu', 'text_fs14', 'text_BC9CFF', 'block_ml-3px'])
                    p
                        +text('span', '9 990₽', ['booking-text-r-pp', 'text_bold', 'text_fs14', 'text_lh18', 'text_1F2041-05'])
                        +text('span', 'в сутки', ['booking-text-r-pp', 'text_lh18', 'text_1F2041-05'])
                +room__like-wrapper
                    +room__star-wrapper
                        - let nRate = 5;
                        - for(let i=1; i<=nRate; i++){
                            - if(i===nRate) {
                                +button-star
                                    img(src='img/star_border.png' alt='star')
                            - }
                            - else {
                                +button-star
                                    img(src='img/star.png' alt='star')
                            - }            
                        - }
                    p
                        +text('span', '65', ['text_lh18', 'text_1F2041-05', 'text_fs14', 'text_bold', 'block', 'block_mr9px'])
                        +text('span', 'Отзывов', ['text_lh18', 'text_1F2041-05', 'block', 'block_mr9px'])