include ./common.blocks/room-search/room-search.pug
include ./common.blocks/account-reg/account-reg.pug
include ./common.blocks/booking/booking.pug
include ./common.blocks/enter/enter.pug
include ./common.blocks/calendar/calendar.pug
include ./common.blocks/room/room.pug


doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
    // <link rel="stylesheet" href="styles.css">
    title Document
  body
    .cards
        .cards__column1.cards__column1__PP
            // форма для поиска номеров
            +room-search(['block', 'block_mb40px'])
            // регистрация аккаунта
            +account-reg('block_mt4px')
        .cards__column1.block.block_ml40px
            // бронирование номера
            +booking(['block', 'block_mb41px', 'block_mt2px'])
            // вход в аккаунт
            +enter
        .cards__column3.block.block_ml40px
            // календарь
            +calendar(['block', 'block_mb41px', 'block_mt2px'])
            // вид отдельного номера
            +room(['block', 'block_mb40px'], 'img/image1.jpg', '888', 'люкс', '9 990₽', '145', 5, 'cards__lux',  true)
            +room('', 'img/image2.jpg', '840', '', '9 900₽', '65', 4, '', true)                  