doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
    // <link rel="stylesheet" href="styles.css">
  body.form-elements
    .form-elements__row
      .form-elements__row1_column1 
        include ./common.blocks/field/field.pug
        include ./common.blocks/field-name/field-name.pug
        include ./common.blocks/input/input.pug
        include ./common.blocks/input-wrapper/input-wrapper.pug
        include ./common.blocks/filter-date/filter-date.pug
        include ./common.blocks/form-field/form-field.pug
        include ./common.blocks/check-mark/check-mark.pug
        include ./common.blocks/checkbox-buttons/checkbox-button.pug
        include ./common.blocks/text/text.pug
        include ./common.blocks/radio-button-wrapper/radio-button-wrapper.pug
        include ./common.blocks/radio-button/radio-button.pug
        include ./common.blocks/toggle/toggle.pug
        include ./common.blocks/button-like/button-like.pug
        include ./common.blocks/rate-button/rate-button.pug
        include ./common.blocks/button-star/button-star.pug
        include ./common.blocks/slider/slider.pug
        include ./common.blocks/button/button.pug
        include ./common.blocks/pagination/pagination.pug
        include ./common.blocks/dropdown/dropdown.pug
        include ./common.blocks/expandable-list/expandable-list.pug
        include ./common.blocks/checkbox-list/checkbox-list.pug
        include ./common.blocks/rich-Checkbox-Buttons/rich-Checkbox-Buttons.pug
        include ./common.blocks/bullet-list/bullet-list.pug
        include ./common.blocks/room-advantages/room-advantages.pug
        include ./common.blocks/advantages/advantages.pug
        include ./common.blocks/comments/comments.pug
        include ./common.blocks/like-comments/like-comments.pug

        +field('label', ['block', 'block_mb20px'])
          +field-name()
          +field-name('Default', ['text_ttu','text_1F2041-05','text_right','block','block_mt-3px'])
          +input(type='email', name='email', placeholder='Email', class=['text', 'text_b', 'text_1F2041-075'])
        +field('label', ['block', 'block_mb20px'])
          +field-name()
          +field-name('Hover / Focus', ['text_ttu','text_1F2041-05','text_right','block','block_mb5px'])
          +input(type='text', name='text', value='This is pretty awesome', class=['text', 'text_b', 'text_1F2041-075'])
        +field('div', ['block', 'block_mb22px'])
          +field-name('Dropdown')
          +check-mark
            +input(type='text', name='amount of guests', value='Сколько гостей', class=['text', 'text_b', 'text_1F2041-075'])
        +field('label', ['block', 'block_mb41px'])
          +field-name('masked text field')
          +input(type='text', name='masked text field', placeholder='ДД.ММ.ГГГГ', pattern='\d{1,2}\/d{1,2}\/d{4}', class=['text', 'text_b', 'text_ttu', 'text_1F2041-075'], readonly)
        +input-wrapper(['block', 'block_mb40px'])
          +field('label','field_small')
            +field-name('date Dropdown')
            +check-mark
              +input(type='date', name='arrival', class=['input_hidden', 'text', 'text_b', 'text_ttu', 'text_1F2041-075'], readonly)
          +field('label', 'field_small')
            +field-name('date Dropdown')
            +check-mark
              +input(type='date', name='departure', value='2019-08-19', class=['input_hidden', 'text', 'text_b', 'text_ttu', 'text_1F2041-075'], readonly)
        // даты пребывания в отеле
        +filter-date(['filter-date', 'block', 'block_mb41px'])
          +field-name('filter date Dropdown')
          +check-mark
            +input(type='text', name='dates', value='19 авг - 23 авг', class=['text', 'text_b', 'text_1F2041-075'])
        +form-field('https://echo.htmlacademy.ru', 'post')
          +field('label', 'field_middle')
            +field-name('subscription text field')
            +input(type='email', name='subscription text field', placeholder='Email', class=['text', 'text_b', 'text_1F2041-075'])
          +form-field__button('block_ml223px')
      .form-elements__row1_column2
        // Обернул Checkbox Buttons в div, чтобы выделить в блок.
        .checkbox-buttons
          +text('p', 'Checkbox Buttons', ['text_bold', 'text_ttu', 'block','block_mb16px'])
          .checkbox-buttons__wrapper
            +checkbox-button('smoking', 'Можно курить', ['text_b', 'text_lh20', 'text_1F2041-05', 'block','block_ml10px'], ['block', 'block_mb11px'])
            +checkbox-button('smoking', 'Можно с питомцами', ['text_b', 'text_lh20', 'text_1F2041-05', 'block','block_ml10px'], ['block', 'block_mb11px'], true)
            +checkbox-button('smoking', 'Можно пригласить гостей (до 10 человек)', ['text_b', 'text_lh18', 'text_1F2041-05', 'block','block_ml10px'], ['block', 'block_mb41px'], true)
        +text('p', 'Radio Buttons', ['text_bold', 'text_ttu', 'block', 'block_mb16px']) 
        // правила дома
        +radio-button-wrapper(['block', 'block_mb41px'])
          +radio-button('gender', 'Мужчина', true)
          +radio-button('gender', 'Женщина')
        +text('p', 'Toggle', ['text_bold', 'text_ttu', 'block', 'block_mb16px'])
        +toggle(['block', 'block_mb14px'], 'Получать спецпредложения', true)
        +toggle(['block', 'block_mb44px'], 'Получать спецпредложения')
        +text('p', 'like button', ['text_bold', 'text_ttu', 'block', 'block_mb16px'])
        .form-elements__button-like-wr.block.block_mb40px
          +button-like
            img.button-like__heart(src='img/favorite_border.png' alt='heart_unpressed')
            +text('span', '2', ['text_s', 'text_1F2041-025'])
          +button-like(['button-like_pressed', 'block', 'block_ml10px'])
            img.button-like__heart(src='img/favorite.png' alt='heart_pressed')
            +text('span', '12', ['text_s', 'text_BC9CFF'])
        +text('p', 'rate button', ['text_bold', 'text_ttu', 'block', 'block_mb16px'])
        .form-elements__rate-button-wr
          +rate-button
            - let nRate = 5;
            - for(let i=1; i<=nRate; i++){
              - if(i===nRate) {
                +button-star
                  img(src='img/star_border.png' alt='star')
              - }
              - else {
                +button-star
                  img(src='img/star.png' alt='star')
              - }            
            - }           
          +rate-button(['block', 'block_ml20px'])
            - let nRate = 5;
            - for(let i=1; i<=nRate; i++){
                +button-star
                  img(src='img/star.png' alt='star')
            - }
      .form-elements__row1_column3
        // диапазон цены
        +slider(['block', 'block_mb40px'])
          +text('span', 'Range Slider', ['slider__name', 'text_bold', 'text_ttu'])
          +text('span', '5 000₽ - 10 000₽', ['slider__name', 'text_1F2041-05', 'text_right'])
          input(type='range' name='Range Slider')
        +text('p', 'buttons', ['text_bold', 'text_ttu', 'block', 'block_mb16px'])
        .form-elements__button-wr.block.block_mb30px
          +button(['button', 'button_linear-gradient'])
            +text('span', 'click me', ['text_bold', 'text_ttu', 'text_FFF'])
          +button(['button', 'button_linear-gradient', 'button_opacity', 'block', 'block_ml19px'])
            +text('span', 'click me', ['text_bold', 'text_ttu', 'text_FFF'])
        .form-elements__button-wr.block.block_mb31px
          +button(['button', 'button_bordered'])
            +text('span', 'click me', ['text_bold', 'text_ttu', 'text_BC9CFF'])
          +button(['button', 'button_bordered', 'button_bordered-tran', 'block', 'block_ml19px'])
            +text('span', 'click me', ['text_bold', 'text_ttu', 'text_BC9CFF'])
        .form-elements__button-wr.block.block_mb30px
          +button('button_naked')
            +text('span', 'click me', ['text_bold', 'text_ttu', 'text_BC9CFF'])
          +button(['button_naked', 'block', 'block_ml20px'])
            +text('span', 'click me', ['text_bold', 'text_ttu', 'text_1F2041-05'])
        +button(['button', 'button_long', 'block', 'block_mb40px'])
          +text('span', 'перейти к оплате', ['text_bold', 'text_ttu', 'text_FFF'])
        +text('p', 'pagination', ['text_bold', 'text_ttu', 'block', 'block_mb16px'])
        // страницы
        +pagination(['block', 'block_mb10px'])
          - let nPag = 18;
          - for(let i=0; i<nPag; i++){
            - if(i===0){
              +pagination__href-arrow('#', 'pagination_d-none')
                img(src='img/arrow_back.png' alt='')
            - }
            - else if(i===1){
              +pagination__href('#')
                +pagination__href_active(i)
            - }
            - else if(i>1 && i<4){
              +pagination__href('#')
                +text('span', i, ['text_ttu', 'text_1F2041-05'])
            - }
            - else if(i===4){
              +pagination__href('#')
                +text('span', '...', ['text_ttu', 'text_1F2041-05'])
            - }
            - else if(i>4 && i<15){
              +pagination__href('#', 'pagination_d-none')
                +text('span', i-1, ['text_ttu', 'text_1F2041-05'])
            - }
            - else if(i===16){
              +pagination__href('#')
                +text('span', i-1, ['text_ttu', 'text_1F2041-05'])
            - }
            - else if(i===17){
              +pagination__href-arrow('#')
                img(src='img/arrow_forward_white.png' alt='')
            - }
          - }
        +text('p', '1 – 12 из 100+ вариантов аренды', ['text_b', 'text_lh22', 'text_1F2041-075', 'pagination_pixel'])
    .form-elements__row2
      .form-elements__row2_column1
        +dropdown(['block', 'block_mb19px'])
          +field('label')
            +field-name('dropdown')
            +text('span', 'default', ['text_ttu', 'text_1F2041-05', 'text_right', 'block', 'block_mb5px'])
            +check-mark
              +input(type='text' name='rooms&beds' value='2 спальни, 2 кровати...' class=['input_square-angles', 'text', 'text_b', 'text_1F2041-075'])
        // удобства номера
        +dropdown(['dropdown_pp'])
          +field('label')
            +field-name('dropdown')
            +text('span', 'expanded', ['text_ttu', 'text_1F2041-05', 'text_right', 'block', 'block_mb5px'])
            +check-mark
              +input(type='text' name='rooms&beds' value='2 спальни, 2 кровати...', class=['input_square-angles', 'input_border-color', 'text', 'text_b', 'text_1F2041-075'])
          +dropdown__wrapper('dropdown__wrapper_off-buttons')
            +dropdown__flex(['block', 'block_mb7px'], 'спальни', '2')
            +dropdown__flex(['block', 'block_mb7px'], 'кровати', '2')
            +dropdown__flex('', 'ванные комнаты', '0', 'dropdown__button_tran')
      +dropdown(['dropdown_w32', 'block', 'block_ml180px'])
        +text('p', 'dropdown', ['text_bold', 'text_ttu', 'block', 'block_mb5px'])
        +check-mark
          +input(type='text' name='guests' value='Сколько гостей', class=['input_square-angles', 'input_border-color', 'text', 'text_b', 'text_1F2041-075'])
        +dropdown__wrapper
          +dropdown__flex(['block', 'block_mb7px'], 'взрослые', '0', 'dropdown__button_tran', 'dropdown__flex_text-pp')
          +dropdown__flex(['block', 'block_mb7px'], 'дети', '0', 'dropdown__button_tran', 'dropdown__flex_text-pp')
          +dropdown__flex(['block', 'block_mb19px'], 'младенцы', '0', 'dropdown__button_tran', 'dropdown__flex_text-pp2')
          +button(['text', 'text_bold', 'text_ttu', 'text_BC9CFF', 'text_right'], 'применить')
      // гости
      +dropdown(['dropdown_w32', 'block', 'block_ml72px'])
        +text('p', 'dropdown', ['text_bold', 'text_ttu', 'block', 'block_mb5px'])
        +check-mark
          +input(type='text' name='guests' value='3 гостя', class=['input_square-angles', 'input_border-color', 'text', 'text_b', 'text_1F2041-075'])
        +dropdown__wrapper
          +dropdown__flex(['block', 'block_mb7px'], 'взрослые', '2', '', 'dropdown__flex_text-pp')            
          +dropdown__flex(['block', 'block_mb7px'], 'дети', '1', '', 'dropdown__flex_text-pp')            
          +dropdown__flex(['block', 'block_mb19px'], 'младенцы', '0', 'dropdown__button_tran', 'dropdown__flex_text-pp2')
          +button(['text', 'text_bold', 'text_ttu', 'text_BC9CFF', 'buttonPP'], 'очистить')
          +button(['text', 'text_bold', 'text_ttu', 'text_BC9CFF', 'text_right'], 'применить')
    .form-elements__row3
      .form-elements__row3_column1
        // дополнительные удобства
        +expandable-list
          +expandable-list__summary(['check-mark', 'block', 'block_mb17px'])
            +text('span', 'expandable checkbox list', ['text_bold', 'text_ttu'])
          +checkbox-list
            +checkbox-button('breakfast', 'Завтрак', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb11px')
            +checkbox-button('desk', 'Письменный стол', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px', true)
            +checkbox-button('feeding_chair', 'Стул для кормления', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px', true)
            +checkbox-button('child_bed', 'Кроватка', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px', true)
            +checkbox-button('tv', 'Телевизор', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px')
            +checkbox-button('shampoo', 'Шампунь', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'])
        // дополнительные удобства
        +expandable-list(true)
          +expandable-list__summary(['check-mark', 'block', 'block_mb17px'])
            +text('span', 'expandable checkbox list', ['text_bold', 'text_ttu'])
          +checkbox-list
            +checkbox-button('breakfast', 'Завтрак', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb11px')
            +checkbox-button('desk', 'Письменный стол', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px',true)
            +checkbox-button('feeding_chair', 'Стул для кормления', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px',true)
            +checkbox-button('child_bed', 'Кроватка', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px',true)
            +checkbox-button('tv', 'Телевизор', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'], 'block_mb10px')
            +checkbox-button('shampoo', 'Шампунь', ['text_b', 'text_1F2041-05', 'block', 'block_ml10px'])
      // доступность
      +rich-Checkbox-Buttons(['block', 'block_ml180px'])
        +text('p', 'rich Checkbox Buttons', ['text_bold', 'text_ttu', 'block', 'block_mb16px'])
        +checkbox-button('corridor', 'Широкий коридор', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_ml10px', 'block_mb6px'])
        +text('p', 'Ширина коридоров в номере не менее 91 см.', ['rich-Checkbox-Buttons_t1', 'text_lh14', 'text_1F2041-05', 'block', 'block_ml30px', 'block_mb10px'])
        +checkbox-button('helper', 'Помощник для инвалидов', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_ml10px', 'block_mb6px'])
        +text('p', 'На 1 этаже вас встретит специалист и проводит до номера.', ['rich-Checkbox-Buttons_t2', 'text_lh14', 'text_1F2041-05', 'block', 'block_ml30px'])
      // Правила гостиницы
      +bullet-list('bullet list', ['block', 'block_ml126px'], ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, <br> а выезд до 12:00'])
    .form-elements__row4
      // Сведения о номере
      +room-advantages
        +advantages
          +advantages__img('advantages__img_PP')
            img(src='img/insert_emoticon.png' alt='smile')
          +advantades__text
            +text('p', 'Комфорт', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_mb8px', 'block_ml10px'])
            +text('p', 'Шумопоглощающие стены', ['text_b', 'text_1F2041-075', 'text_b', 'text_1F2041-075', 'block', 'block_ml10px'])
        +advantages('advantages_padding-down')
          +advantages__img
            img(src='img/location_city.png' alt='biulding')
          +advantades__text
            +text('p', 'Удобство', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_mb8px', 'block_ml10px', 'block_mt4px'])
            +text('p', 'Окно в каждой из спален', ['text_b', 'text_1F2041-075', 'block', 'block_ml9px', 'block_mt-3px'])                
      // Отзывы посетителей номера
      .form-elements__row4_column2
        +comments(['block', 'block_mb15px'])
          img(src='img/image.png' alt='avatarka')
          +comments__text
            +text('p', 'Мурад Сарафанов', ['text_b', 'text_1F2041-075','text_bold', 'block', 'block_mb8px', 'block_ml12px'])
            +text('p', '5 дней назад', ['text_b', 'text_1F2041-075', 'block', 'block_ml11px'])  
        +like-comments
          +button-like(['button-like_pressed', 'button-like_PP'])
            img.button-like__heart(src='img/favorite.png' alt='heart_pressed')
            +text('span', '12', ['text_s', 'text_BC9CFF'])
          +text('p', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
          ['text_b', 'text_lh24', 'text_1F2041-075', 'block', 'block_ml14px', 'button-like-text_PP'])
