include ./common.blocks/header-guest/header-guest.pug
include ./common.blocks/footer/footer.pug
include ./common.blocks/footer-copyright/footer-copyright.pug
include ./common.blocks/footer-wrapper-768/footer-wrapper-768.pug


doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
    // link(rel='stylesheet' href='styles.css')
    title Document
  body.headers-footers
    // хедер для незареганных пол-й
    +header-guest(false)
    // хедер для зареганных пол-й
    +header-guest(true)
    // большой футер
    +footer(['block', 'block_mb1px'])
    // футер защиты прав и медиа
    +footer-copyright
    // футер для экрана 768px
    +footer-wrapper-768