doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    // <link rel="stylesheet" href="styles.css">
    body
        a(href="formAndElements.html") 
            h2 formAndElements 
        br
        a(href="cards.html") 
            h2 cards 
        br
        a(href="headersAndFooters.html") 
            h2 headersAndFooters
        br
        a(href="landingPage.html") 
            h2 landingPage
        br
        a(href="searchRoom.html") 
            h2 searchRoom
        br
        a(href="roomDetails.html") 
            h2 roomDetails
        br
        a(href="registration.html") 
            h2 registration
        br
        a(href="signIn.html") 
            h2 signIn