doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    body
        a(href="formAndElements.html") 
            h2 formAndElements 
        br
        a(href="cards.html") 
            h2 cards 
        br
        a(href="headersAndFooters.html") 
            h2 headersAndFooters