include ./common.blocks/header-guest/header-guest.pug
include ./common.blocks/room-search/room-search.pug
include ./common.blocks/text/text.pug
include ./common.blocks/footer/footer.pug
include ./common.blocks/footer-copyright/footer-copyright.pug
include ./common.blocks/footer-wrapper-768/footer-wrapper-768.pug

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
        // link(rel='stylesheet' href='styles.css')
    body.landingPage
        +header-guest(false)
        .page-background-image.container
            +room-search
            +text('p', 'Лучшие номера для вашей работы, отдыха и просто вдохновения', ['text_b', 'text_lh24', 'text_1F2041-075', 'landingPage-text'])
        +footer(['block', 'block_mb1px'])
        +footer-wrapper-768(['block', 'block_mb1px'])
        +footer-copyright
