include ./common.blocks/header-guest/header-guest.pug
include ./common.blocks/advantages/advantages.pug
include ./common.blocks/text/text.pug
include ./common.blocks/comments/comments.pug
include ./common.blocks/like-comments/like-comments.pug
include ./common.blocks/button-like/button-like.pug
include ./common.blocks/booking/booking.pug
include ./common.blocks/bullet-list/bullet-list.pug
include ./common.blocks/footer/footer.pug
include ./common.blocks/footer-copyright/footer-copyright.pug
include ./common.blocks/footer-wrapper-768/footer-wrapper-768.pug


doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')
        // link(rel='stylesheet' href='styles.css')
    body
        .room-details
            +header-guest(false)
            .three-pictures.block.block_mb70px
                .three-pictures__1pic
                .three-pictures__2pics
                    .three-pictures__2pics_1
                    .three-pictures__2pics_2
            .room-details__two-columns.container
                .room-details__inner
                    .room-details__string1.block.block_mb12px
                        .room-details__info
                            +text('p', 'Сведения о номере', ['text_m', 'text_bold', 'block', 'block_mb23px'])
                            +advantages
                                +advantages__img('advantages__img_PP')
                                    img(src='img/insert_emoticon.png' alt='smile')
                                +advantages__text
                                    +text('p', 'Комфорт', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_mb8px', 'block_ml10px'])
                                    +text('p', 'Шумопоглощающие стены', ['text_b', 'text_1F2041-075', 'text_b', 'text_1F2041-075', 'block', 'block_ml10px'])
                            +advantages('advantages_padding-down')
                                +advantages__img
                                    img(src='img/location_city.png' alt='biulding')
                                +advantages__text
                                    +text('p', 'Удобство', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_mb8px', 'block_ml10px', 'block_mt4px'])
                                    +text('p', 'Окно в каждой из спален', ['text_b', 'text_1F2041-075', 'block', 'block_ml9px', 'block_mt-3px'])
                            +advantages('advantages_padding-down')
                                +advantages__img
                                    img(src='img/whatshot.png' alt='biulding')
                                +advantages__text
                                    +text('p', 'Уют', ['text_b', 'text_1F2041-075', 'text_bold', 'block', 'block_mb8px', 'block_ml10px', 'block_mt4px'])
                                    +text('p', 'Номер оснащён камином', ['text_b', 'text_1F2041-075', 'block', 'block_ml9px', 'block_mt-3px'])
                        .room-details__impression
                            +text('p', 'Впечатления от номера', ['text_m', 'text_bold', 'block', 'block_mb20px'])
                            .room-details__impression__two-columns
                                //- img(src="img/Pie.svg", alt="pie")
                                <canvas id="myChart" width="310" height="120"></canvas>
                                //- +bullet-list('', ['block', 'block_ml30px'], ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован'], '', true)
                    .room-details__comments.block.block_mb33px
                        .room-details__text-flex.block.block_mb20px
                            +text('p', 'Отзывы посетителей номера', ['text_m', 'text_bold'])
                            +text('p', '2 отзыва', ['text_b', 'text_lh14', 'text_1F2041-05', 'room-details__text-pp'])
                        +comments(['block', 'block_mb15px'])
                            img(src='img/murad.png' alt='avatarka', class='comments__img')
                            +comments__text
                                +text('p', 'Мурад Сарафанов', ['text_b', 'text_1F2041-075','text_bold', 'block', 'block_mb6px', 'block_ml11px', 'block_mt4px'])
                                +text('p', '5 дней назад', ['text_b', 'text_1F2041-075', 'block', 'block_ml11px'])
                        +like-comments(['block', 'block_mb22px'])
                            +button-like(['button-like_pressed', 'button-like_PP'])
                                +text('span', '12', ['text_s', 'button-like__text'])
                            //- +button-like(['button-like_pressed', 'button-like_PP'])
                            //-     img.button-like__heart(src='img/favorite.png' alt='heart_pressed')
                            //-     +text('span', '12', ['text_s', 'text_BC9CFF', 'button-like_js'])
                            +text('p', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                            ['text_b', 'text_lh24', 'text_1F2041-075', 'block', 'block_ml14px', 'button-like-text_PP'])
                        +comments(['block', 'block_mb14px'])
                            img(src='img/patrice.png' alt='avatarka2', class='comments__img2')
                            +comments__text
                                +text('p', 'Патрисия Стёклышкова', ['text_b', 'text_1F2041-075','text_bold', 'block', 'block_mb5px', 'block_ml8px', 'block_mt4px'])
                                +text('p', 'неделю назад', ['text_b', 'text_1F2041-075', 'block', 'block_ml11px'])
                        +like-comments
                            +button-like('button-like__rd-pp')
                                +text('span', '2', ['text_s', 'button-like__text'])
                            //- +button-like('button-like__rd-pp')
                            //-     img.button-like__heart(src='img/favorite_border.png' alt='heart_unpressed')
                            //-     +text('span', '2', ['text_s', 'text_1F2041-025', 'button-like_js'])
                            +text('p', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                            ['text_b', 'text_lh24', 'text_1F2041-075', 'block', 'block_ml14px', 'button-like-text_PP'])
                    .room-details__string2
                        .room-details__rule
                            +bullet-list('Правила', '', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, <br> а выезд до 12:00'], ['text_m', 'text_bold', 'block', 'block_mb20px', 'block_ml20px'])
                        .room-details__cansel.block.block_ml6px
                            +text('p', 'Отмена', ['text_m', 'text_bold', 'block', 'block_mb20px'])
                            +text('p', 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.', ['text_b', 'text_lh24', 'text_1F2041-075', 'block', 'block_mt-2px'])
                +booking('block_ml70px',  'Сбор за доп. услуги', true, 'room-details__lux', 'block_mb45px')
            +footer(['block', 'block_mb1px'])
            +footer-wrapper-768
            +footer-copyright

