@import 'common.blocks/myReset/myReset.css';
@import 'common.blocks/block/block.css';
@import 'common.blocks/text/text.css';
@import 'common.blocks/field/field.css';
@import 'common.blocks/input/input.css';
@import 'common.blocks/check-mark/check-mark.css';
@import 'common.blocks/input-wrapper/input-wrapper.css';
@import 'common.blocks/filter-date/filter-date.css';
@import 'common.blocks/form-field/form-field.css';
@import 'common.blocks/checkbox-buttons/checkbox-button.css';
@import 'common.blocks/radio-button/radio-button.css';
@import 'common.blocks/toggle/toggle.css';
@import 'common.blocks/button-like/button-like.css';
@import 'common.blocks/slider/slider.css';
@import 'common.blocks/rate-button/rate-button.css';
@import 'common.blocks/button/button.css';
@import 'common.blocks/pagination/pagination.css';
@import 'common.blocks/dropdown/dropdown.css';
@import 'common.blocks/expandable-list/expandable-list.css';
@import 'common.blocks/checkbox-list/checkbox-list.css';
@import 'common.blocks/rich-Checkbox-Buttons/rich-Checkbox-Buttons.css';
@import 'common.blocks/bullet-list/bullet-list.css';
@import 'common.blocks/room-advantages/room-advantages.css';
@import 'common.blocks/advantages/advantages.css';
@import 'common.blocks/comments/comments.css';
@import 'common.blocks/like-comments/like-comments.css';
@import 'common.blocks/radio-button-wrapper/radio-button-wrapper.css';
@import 'common.blocks/href-button/href-button.css';
@import 'common.blocks/room-search/room-search.css';
@import 'common.blocks/account-reg/account-reg.css';
@import 'common.blocks/booking/booking.css';
@import 'common.blocks/enter/enter.css';
@import 'common.blocks/calendar/calendar.css';
@import 'common.blocks/room-info/room-info.css';
@import 'common.blocks/room/room.css';
@import 'common.blocks/form-field-button-hf/form-field-button-hf.css';


.form-elements {
    padding-top: 14.3rem;
    padding-left: 14.1rem;
    padding-bottom: 13.1rem;
}
.form-elements__row {
    display: flex;
}
.form-elements__row1_column1 {
    width: 32rem;
}
.form-elements__row1_column2 {
    margin-left: 12.6rem;
    width: 26.2rem;
}
.form-elements__button-like-wr {
    display: flex;
}
.form-elements__rate-button-wr {
    display: flex;
}
.form-elements__row1_column3 {
    margin-left: 13rem;
}

.form-elements__button-wr {
    display: flex;
}
.form-elements__row2 {
    display: flex;
    margin-top: 10.1rem;
    margin-bottom: 5.5rem;
}
.form-elements__row2_column1 {
    width: 26.6rem;
}
.form-elements__row3 {
    display: flex;
    margin-bottom: 10.2rem;
}
.form-elements__row3_column1 {
    width: 26.6rem;
}
.form-elements__row4 {
    display: flex;
}
.form-elements__row4_column2 {
    width: 71.1rem;
    margin-top: 1rem;
    margin-left: 15.6rem;
}


.cards {
    display: flex;
    width: 144rem;
    height: 135rem;
    background: #F4F4F6;
    padding: 14.8rem 14rem 14rem 14rem ;
}
.cards__column1 {
    width: 38rem;
}
.cards__column1__PP {
    margin-left: -1px;
    margin-top: 2px;
}


.headers-footers {
    width: 144rem;
    padding: 14rem 0;
    background: #F4F4F6;
}
.header-guest {
    min-height: 7rem;
    padding: 0 14rem;
    display: flex;
    align-items: center;
    background: #FFF;
    margin-bottom: 4rem;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.logo-toxin {
    min-width: 10.5rem;
    margin-right: 2rem;
}

.header-guest__l-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;
    justify-content: flex-end;
}
.header-list__item {
    margin-bottom: 1rem;
}
.header-list__item:not(:last-child) {
    margin-right: 2rem;
}
.header-guest__list {
    position: relative;
    padding-right: 2.2rem;
}
.header-guest__list::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 0.6rem;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}

.submenu {
    display: none;
    position: absolute;
    background: #FFF;
}
.header-guest__list:hover > .submenu {
    display: block;
}
.header-guest__button {
    min-width: 19.6rem;
    height: 3.4rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2.2rem;
}
.header-guest__border {
    margin-left: 2rem;
    width: 0.1rem;
    height: 3rem;
    background: rgba(31, 32, 65, 0.1);
}

.footer {
    width: 144rem;
    height: 37.2rem;
    background: #FFF;
    padding: 10rem 14rem;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer_sm {
    display: flex;
}
.footer__column1 {
    width: 26rem;
}
.footer__img {
    display: block;
}
.footer__column2 {
    min-width: 14.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.footer__column3 {
    min-width: 10.8rem;
    margin-left: 5.7rem;
    display: flex;
    flex-direction: column;
}
.footer__column4 {
    min-width: 14.9rem;
    margin-left: 9.2rem;
    display: flex;
    flex-direction: column;
}
.footer__column5 {
    width: 26rem;
    margin-left: 5.1rem;
    display: flex;
    flex-direction: column;
}
.footer-copyright {
    width: 144rem;
    height: 7rem;
    padding: 0 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer-media {
    display: flex;
    justify-content: space-between;
}
.footer-media__twi {
    margin-top: 2px;
}
.footer-media__insta {
    margin-right: 1px;
}
.footer-wrapper-768 {
    width: 76.8rem;
    height: 36.7rem;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 33.6rem 0 33.6rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}