@import 'common.blocks/myReset/myReset.css';
@import 'common.blocks/field/field.css';
@import 'common.blocks/field-name/field-name.css';
@import 'common.blocks/input/input.css';
@import 'common.blocks/check-mark/check-mark.css';
@import 'common.blocks/input-wrapper/input-wrapper.css';
@import 'common.blocks/filter-date/filter-date.css';
@import 'common.blocks/form-field/form-field.css';
@import 'common.blocks/checkbox-buttons/checkbox-button.css';
@import 'common.blocks/radio-button/radio-button.css';
@import 'common.blocks/toggle/toggle.css';
@import 'common.blocks/button-like/button-like.css';
@import 'common.blocks/slider/slider.css';
@import 'common.blocks/rate-button/rate-button.css';
@import 'common.blocks/button/button.css';
@import 'common.blocks/pagination/pagination.css';
@import 'common.blocks/dropdown/dropdown.css';
@import 'common.blocks/expandable-list/expandable-list.css';
@import 'common.blocks/checkbox-list/checkbox-list.css';
@import 'common.blocks/rich-Checkbox-Buttons/rich-Checkbox-Buttons.css';
@import 'common.blocks/bullet-list/bullet-list.css';
@import 'common.blocks/room-info/room-info.css';
@import 'common.blocks/advantages/advantages.css';
@import 'common.blocks/comments/comments.css';
@import 'common.blocks/like-comments/like-comments.css';


.text {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    color: #1f2041;
    line-height: 1.5rem;
    /* во всех браузерах по умолчанию font-weight: 400, font-style: normal */
}
.text_s {
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.text_b {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.text_m {
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 700;
}
.text_l {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 700;
}
.text_c {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(31, 32, 65, 0.5);
}


.text_fs14 {
    font-size: 1.4rem;
}
.text_fs24 {
    font-size: 2.4rem;
}
.text_fs20 {
    font-size: 2rem;
}


.text_lh17 {
    line-height: 1.7rem;
}
.text_lh18 {
    line-height: 1.8rem;
}
.text_lh29 {
    line-height: 2.9rem;
}
.text_lh20 {
    line-height: 2rem;
}
.text_lh22 {
    line-height: 2.2rem;
}
.text_lh14 {
    line-height: 1.4rem;
}
.text_lh24 {
    line-height: 2.4rem;
}


.text_bold {
    font-weight: 700;
}
.text_ttu {
    text-transform: uppercase;
}
.text_ttn {
    text-transform: none;
}


.text_BC9CFF {
    color: #BC9CFF;
}
.text_1F2041-05 {
    color: rgba(31, 32, 65, 0.5);
}
.text_1F2041-075 {
    color: rgba(31, 32, 65, 0.75);
}
.text_1F2041-025 {
    color: rgba(31, 32, 65, 0.25);
}
.text_FFF {
    color: #FFF;
}
.text_000 {
    color: #000;
}

.text_right {
    float: right;
}


.block_mt-3px {
    margin-top: -0.3rem;
}
.block_mt-2px {
    margin-top: -0.2rem;
}
.block_mt5px {
    margin-top: 0.5rem;
}

.block_mb20px {
    margin-bottom: 2rem;
}
.block_mb22px {
    margin-bottom: 2.2rem;
}
.block_mb40px {
    margin-bottom: 4rem;
}
.block_mb41px {
    margin-bottom: 4.1rem;
}
.block_mb5px {
    margin-bottom: 0.5rem;
}
.block_mb16px {
    margin-bottom: 1.6rem;
}
.block_mb10px {
    margin-bottom: 1rem;
}
.block_mb11px {
    margin-bottom: 1.1rem;
}
.block_mb14px {
    margin-bottom: 1.4rem;
}
.block_mb13px {
    margin-bottom: 1.3rem;
}
.block_mb30px {
    margin-bottom: 3rem;
}
.block_mb31px {
    margin-bottom: 3.1rem;
}
.block_mb7px {
    margin-bottom: 0.7rem;
}
.block_mb19px {
    margin-bottom: 1.9rem;
}
.block_mb17px {
    margin-bottom: 1.7rem;
}
.block_mb8px {
    margin-bottom: 0.8rem;
}
.block_mb15px {
    margin-bottom: 1.5rem;
}
.block_mb23px {
    margin-bottom: 2.3rem;
}
.block_mb24px {
    margin-bottom: 2.4rem;
}
.block_mb12px {
    margin-bottom: 1.2rem;
}
.block_mb26px {
    margin-bottom: 2.6rem;
}
.block_mb39px {
    margin-bottom: 3.9rem;
}
.block_mb44px {
    margin-bottom: 4.4rem;
}
.block_mb21px {
    margin-bottom: 2.1rem;
}
.block_mb1px {
    margin-bottom: 0.1rem;
}
.block_mb25px {
    margin-bottom: 2.5rem;
}
.block_mb18px {
    margin-bottom: 1.8rem;
}

.block_ml223px {
    margin-left: 22.3rem;
}
.block_ml10px {
    margin-left: 1rem;
}
.block_ml20px {
    margin-left: 2rem;
}
.block_ml19px {
    margin-left: 1.9rem;
}
.block_ml30px {
    margin-left: 3rem;
}
.block_ml181px {
    margin-left: 18.1rem;
}
.block_ml72px {
    margin-left: 7.2rem;
}
.block_ml180px {
    margin-left: 18rem;
}
.block_ml126px {
    margin-left: 12.6rem;
}
.block_ml40px {
    margin-left: 4rem;
}
.block_ml4px {
    margin-left: 0.4rem;
}
.block_ml16px {
    margin-left: 1.6rem;
}
.block_ml216px {
    margin-left: 21.6rem;
}
.block_ml-3px {
    margin-left: -0.3rem;
}
.block_ml22px {
    margin-left: 2.2rem;
}

.block_mr20px {
    margin-right: 2rem;
}
.block_mr9px {
    margin-right: 0.9rem;
}
.block_mr-9px {
    margin-right: -0.9rem;
}
.block_mr1px {
    margin-right: 0.1rem;
}


.form-elements {
    padding-top: 14.3rem;
    padding-left: 14.1rem;
    padding-bottom: 13.1rem;
}
.form-elements__row {
    display: flex;
}
.form-elements__row1_column1 {
    width: 32rem;
}


.form-elements__row1_column2 {
    margin-left: 12.6rem;
    width: 26.2rem;
}
.form-elements__button-like-wr {
    display: flex;
}
.form-elements__rate-button-wr {
    display: flex;
}


.form-elements__row1_column3 {
    margin-left: 13rem;
}

.form-elements__button-wr {
    display: flex;
}


.form-elements__row2 {
    display: flex;
    margin-top: 10.1rem;
    margin-bottom: 5.5rem;
}
.form-elements__row2_column1 {
    width: 26.6rem;
}


.form-elements__row3 {
    display: flex;
    margin-bottom: 10.2rem;
}
.form-elements__row3_column1 {
    width: 26.6rem;
}


.form-elements__row4 {
    display: flex;
}
.form-elements__row4_column2 {
    width: 71.1rem;
    margin-top: 1rem;
    margin-left: 15.6rem;
}








.cards {
    display: flex;
    width: 144rem;
    height: 135rem;
    background: #F4F4F6;
    padding: 14.8rem 14rem 14rem 14rem ;
}
.cards__column1 {
    width: 38rem;
}
.room-search, .account-reg, .booking, .enter {
    width: 38rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 3rem 3rem 3rem;
}
.room-search {
    margin-top: 2px;
}
.account-reg {
    margin-top: 4px;
}
.account-reg_pp {
    margin-left: -1px;
    margin-top: -2px;
}
.radio-button-wrapper {
    display: flex;
}
.href-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking {
    height: 51.1rem;
    margin-top: 0.4rem;
}
.booking-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-text-r-pp {
    margin-top: 1px;
    margin-right: 1px;
}
.booking-wrapper_top {
    display: flex;
    justify-content: space-between;
}
.booking__room-name {
    display: flex;
    align-items: flex-end;
}
.booking__room-number {
    margin-left: 4px;
    margin-top: -2px;
    margin-bottom: -2px;
}
.booking__room-price {
    margin-top: 9px;
}
.booking__wr {
    display: flex;
}
.booking_min-w {
    min-width: 21.4rem;
}
.booking__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin-top: -0.1rem;
    margin-left: 0.5rem;
}
.booking__text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25);
}
.enter {
    height: 35.8rem;
}
.enter__text-p_pp {
    margin-left: -1px;
    margin-top: -2px;
}
.enter__input_pp {
    margin-top: -6px;
}

.calendar {
    width: 32rem;
    background-color: #FFFFFF;
    padding: 1.9rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
}
.calendar__pp {
    margin-top: 1px;
}
.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar__header_text {
    margin-top: 1px;
}
.calendar__arrow_l {
    margin-left: 4px;
    margin-top: 3px;
}
.calendar__arrow_r {
    margin-right: 4px;
    margin-top: 3px;
} 
.calendar__table {
    border-collapse: collapse;
}
.calendar__td {
    text-align: center;
    vertical-align: center;
    height: 40px;
    width: 40px;
}
.calendar_green {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.calendar_purple {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}


.room {
    width: 27rem;
    height: 25.7rem;
    background-color: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
}
.room__img-wr {
    width: 27rem;
    height: 15rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.room__img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.room_md {
    margin: 2rem 1.7rem 0.8rem 2rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.room__button {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);;
    width: 4.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 1px;
}
.room__button_left {
    margin-left: 2px;
}
.room__button_right {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-right: 2px;
}
.room__button::after {
    content: "";
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid #FFF;
    border-left: 0;
    border-top: 0;
    pointer-events: none;
    transform: rotateZ(135deg);
}
.room__rounds-wrapper {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.room__image-scroll {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: 1px solid #FFF;
}
.room__image-scroll_active {
    background-color: #FFF;
}
.room__text-wr {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-left: 2rem;
    margin-right: 1.7rem;
}
.room__like-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.room__star-wrapper {
    display: flex;
}
.room__button-star {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}
.room__text-wrapper {
    height: 2.4rem;
    display: flex;
    align-items: center;
}





.headers-footers {
    width: 144rem;
    padding: 14rem 0;
    background: #F4F4F6;
}
.header-guest {
    height: 7rem;
    padding: 0 14rem;
    display: flex;
    align-items: center;
    background: #FFF;
    margin-bottom: 4rem;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.logo-toxin {
    width: 10.5rem;
    height: 4rem;
}

.header-guest__l-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    display: flex;
}

.header-guest__list {
    position: relative;
    width: 7.4rem;
}
.header-guest__list2 {
    position: relative;
    width: 11.6rem;
}
.header-guest__list::after, .header-guest__list2::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 0.6rem;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}

.submenu {
    display: none;
    position: absolute;
    background: #FFF;
}
.header-guest__list:hover > .submenu {
    display: block;
}
.header-guest__list2:hover > .submenu {
    display: block;
}
.header-guest__button {
    width: 19.6rem;
    height: 3.4rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2.2rem;
}
.header-guest__border {
    margin-left: 2rem;
    width: 0.1rem;
    height: 3rem;
    background: rgba(31, 32, 65, 0.1);
}

.footer {
    width: 144rem;
    height: 37.2rem;
    background: #FFF;
    padding: 10rem 14rem;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}
.footer_sm {
    display: flex;
}
.footer__column1 {
    min-width: 26rem;
}
.footer__img {
    display: block;
}
.footer__column2 {
    min-width: 14.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.footer__column3 {
    min-width: 10.8rem;
    margin-left: 5.7rem;
    display: flex;
    flex-direction: column;
}
.footer__column4 {
    min-width: 14.9rem;
    margin-left: 9.2rem;
    display: flex;
    flex-direction: column;
}
.footer__column5 {
    width: 26rem;
    margin-left: 5.1rem;
    display: flex;
    flex-direction: column;
}
.footer-copyright {
    width: 144rem;
    height: 7rem;
    padding: 0 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer-media {
    display: flex;
    justify-content: space-between;
}
.footer-twi {
    margin-top: 2px;
}
.footer-insta {
    margin-right: 1px;
}
.footer3-wrapper {
    width: 76.8rem;
    height: 36.7rem;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 33.6rem 0 33.6rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}