@import 'common.blocks/myReset/myReset.css';
@import 'common.blocks/block/block.css';
@import 'common.blocks/text/text.css';
@import 'common.blocks/field/field.css';
@import 'common.blocks/input/input.css';
@import 'common.blocks/check-mark/check-mark.css';
@import 'common.blocks/input-wrapper/input-wrapper.css';
@import 'common.blocks/form-field/form-field.css';
@import 'common.blocks/checkbox-buttons/checkbox-button.css';
@import 'common.blocks/radio-button/radio-button.css';
@import 'common.blocks/toggle/toggle.css';
@import 'common.blocks/button-like/button-like.css';
@import 'common.blocks/slider/slider.css';
@import 'common.blocks/rate-button/rate-button.css';
@import 'common.blocks/button/button.css';
@import 'common.blocks/pagination/pagination.css';
@import 'common.blocks/dropdown/dropdown.css';
@import 'common.blocks/expandable-list/expandable-list.css';
@import 'common.blocks/checkbox-list/checkbox-list.css';
@import 'common.blocks/rich-Checkbox-Buttons/rich-Checkbox-Buttons.css';
@import 'common.blocks/bullet-list/bullet-list.css';
@import 'common.blocks/room-advantages/room-advantages.css';
@import 'common.blocks/advantages/advantages.css';
@import 'common.blocks/comments/comments.css';
@import 'common.blocks/like-comments/like-comments.css';
@import 'common.blocks/radio-button-wrapper/radio-button-wrapper.css';
@import 'common.blocks/href-button/href-button.css';
@import 'common.blocks/room-search/room-search.css';
@import 'common.blocks/account-reg/account-reg.css';
@import 'common.blocks/booking/booking.css';
@import 'common.blocks/enter/enter.css';
@import 'common.blocks/calendar/calendar.css';
@import 'common.blocks/room-info/room-info.css';
@import 'common.blocks/room/room.css';
@import 'common.blocks/form-field-button-hf/form-field-button-hf.css';
@import 'common.blocks/header-guest/header-guest.css';
@import 'common.blocks/logo-toxin/logo-toxin.css';
@import 'common.blocks/header-list/header-list.css';
@import 'common.blocks/submenu/submenu.css';
@import 'common.blocks/footer/footer.css';
@import 'common.blocks/footer-copyright/footer-copyright.css';
@import 'common.blocks/footer-media/footer-media.css';
@import 'common.blocks/footer-wrapper-768/footer-wrapper-768.css';
@import 'common.blocks/burger-wrap/burger-wrap.css';


.form-elements {
    padding-top: 14.3rem;
    padding-left: 14.1rem;
    padding-bottom: 13.1rem;
}
.form-elements__row {
    display: flex;
}
.form-elements__row1_column1 {
    width: 32rem;
}
.form-elements__row1_column2 {
    margin-left: 12.6rem;
    width: 26.2rem;
}
.form-elements__button-like-wr {
    display: flex;
}
.form-elements__rate-button-wr {
    display: flex;
}
.form-elements__row1_column3 {
    margin-left: 13rem;
}
.form-elements__button-wr {
    display: flex;
}
.form-elements__row2 {
    display: flex;
    margin-top: 10.1rem;
    margin-bottom: 5.5rem;
}
.form-elements__row2_column1 {
    width: 26.6rem;
}
.form-elements__row3 {
    display: flex;
    margin-bottom: 10.2rem;
}
.form-elements__row3_column1 {
    width: 26.6rem;
}
.form-elements__row4 {
    display: flex;
}
.form-elements__row4_column2 {
    width: 71.1rem;
    margin-top: 1rem;
    margin-left: 15.6rem;
}


.cards {
    display: flex;
    background: #F4F4F6;
    padding: 14.8rem 14rem 14rem 14rem ;
}
.cards__lux {
    margin-bottom: 0.2rem;
}
.cards__column1 {
    width: 38rem;
}
.cards__column1__PP {
    margin-left: -1px;
    margin-top: 2px;
}


.headers-footers {
    padding: 14rem 0;
    background: #F4F4F6;
}
/* .landing-page {
    width: 144rem;
} */
.container {
    padding-left: 14rem;
    padding-right: 14rem;
}
.page-background-image {
    height: 90rem;
    background-image: url("img/image-lp.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 14rem;
    padding-bottom: 2.1rem;
    display: flex;
    justify-content: space-between;
    margin-top: -7rem;
}
.landingPage-text {
    width: 29.7rem;
    text-align: right;
    align-self: flex-end;
    margin-right: -0.6rem;
}
.landingPage__room-search {
    padding-top: 3.9rem;
    padding-left: 2.8rem;
}
.search-room {
    /* height: 135.7rem; */
    padding-top: 3rem;
    display: flex;
}
.search-room__room {
    width: 32.374%;
    margin-bottom: 1.9rem;
}
.search-room__room-info {
    padding-top: 1.8rem;
}
.search-room__column1 {
    width: 26.6rem;
    min-width: 26.6rem;
}
.search-room__rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}
.search-room__column2 {
    margin-left: 6rem;
}
.search-room__lux {
    margin-left: 0.6rem;
    margin-bottom: 0.4rem;
}


.three-pictures {
    display: flex;
    height: 48.5rem;
}
.three-pictures__1pic {
    height: 100%;
    background-image: url("img/1imageFrom3.png");
    width: 68.125%;
}
.three-pictures__2pics {
    width: 31.875%;
    display: flex;
    flex-direction: column;
}
.three-pictures__2pics_1 {
    height: 100%;
    background-image: url("img/2imageFrom3.png");
}
.three-pictures__2pics_2 {
    height: 100%;
    background-image: url("img/3imageFrom3.png");
}
.room-details__two-columns {
    display: flex;
}
.room-details__string1 {
    display: flex;
    justify-content: space-between;
}
.room-details__string2 {
    display: flex;
}
.room-details__rule {
    width: 50%;
}
.room-details__cansel {
    width: 50%;
}
.room-details__text-flex {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1919px) {
    
}
@media (max-width: 1199px) {
    .search-room__room {
        width: 48%;
    }
}
@media (max-width:991px) {
    .container {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    /* .page-background-image {
        padding-bottom: 7rem;
    } */
}
@media (max-width:860px) {
    .search-room__room {
        width: 100%;
    }
}
@media (max-width:767px) {
    .page-background-image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}
@media (max-width:575px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .search-room {
        display: block;
    }
    .search-room__column1 {
        margin-left: auto;
        margin-right: auto;
    }
    .search-room__column2 {
        margin-top: 5rem;
        margin-left: 0;
    }
    .search-room__room {
        width: 100%;
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
    }
}