.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.field_small {
    width: 15rem;
}
.field_middle {
    width: 26.6rem;
}
.field_small-pp {
    margin-right: -2px;
}
.field__text {
    width: 50%;
}

@media (max-width:360px) {
    .field_small {
        width: calc(50% - 4px);
    }
}